<!DOCTYPE html>
<html ng-app lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fast RDF entity label lookup">
  <meta name="author" content="Marat Charlaganov">
  <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

  <title>prefLabel.org</title>

  <script src="./js/angular.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> -->

  <!-- Bootstrap core CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <!-- Custom styles for this template -->
  <link href="./css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47338197-1', 'preflabel.org');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <!-- Wrap all page content here -->
  <div id="wrap">
    <div class="container">
      <div ng-controller="LabelCtrl">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <div class="page-header">
              <h1>
                prefLabel <small>Fast RDF entity label lookup</small>
              </h1>
            </div>
            <h4 class="text-muted">Example</h4>
            <form ng-submit="getLabel()">
              <div class="input-group">
                <input type="text" class="form-control" id="textURI" ng-model="textURI" ng-attr-placeholder="{{exampleURI}}" autofocus>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="getLabel()">Get Label</button>
                </span>
              </div>
              <div class="form-group">
                <label class="radio-inline">
                  <input type="radio" name="acceptRadio" ng-model="acceptHeader" value="application/json" checked>JSON
                </label>
                <label class="radio-inline">
                  <input type="radio" name="acceptRadio" ng-model="acceptHeader" value="text/plain">Text
                </label>
              </div>
            </form>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Request
                </h3>
              </div>
              <div class="panel-body">
                <strong>GET</strong> http://preflabel.org/api/v1/label/{{encodedURI()}}
                <div>
                  <em>Accept:</em> {{acceptHeader}}
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Response {{responseStatus}}
                </h3>
              </div>
              <div class="panel-body">
                <div>
                  <em>Content-Type:</em> {{responseContentType}}
                </div>
                <div>
                  <em>Content-Language:</em> {{responseContentLanguage}}
                </div>
                <div>
                  <em>Link:</em> {{responseLink}}
                </div>
                <div>
                  <em>Data:</em> <strong>{{responseData}}</strong>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- /LabelCtrlr -->

    </div> <!-- /container -->
  </div> <!-- /wrap -->

  <div id="footer">
    <div class="container">
      <div class="pull-right">
        <a href="http://www.data2semantics.org/">
          <img src="./img/data2semantics-small.png" alt="Developed by Data2Semantics">
        </a>
        <!-- <p class="text-muted">About. Place sticky footer content here.</p> -->
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function LabelCtrl($scope, $http) {
      $scope.acceptHeader = "application/json";
      $scope.exampleURI = "http://www.wikidata.org/entity/P103";
      $scope.encodedURI = function() {
        if ($scope.textURI) {
          return encodeURIComponent($scope.textURI);
        }
      };
      $scope.getLabel = function() {
        if (!$scope.textURI) {
          $scope.textURI = $scope.exampleURI;
        };
        $http.get('./api/v1/label/' + $scope.encodedURI(),
        // $http.get('http://localhost:8000/api/label/' + $scope.encodedURI(),
          {'headers': {'Accept': $scope.acceptHeader}}).
        success(function (data, status, headers, config) {
          $scope.responseStatus = ' - ' + status;
          $scope.responseContentType = headers()['content-type'];
          $scope.responseContentLanguage = headers()['content-language'];
          $scope.responseLink = headers()['link'];
          $scope.responseData = data;
        }).
        error(function (data, status, headers, config) {
          $scope.responseStatus = ' - ' + status;
          $scope.responseContentType = headers()['content-type'];
          $scope.responseData = data;
        });
      };
    }
  </script>
</body>
</html>
